#content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    margin-top: 1rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    gap: 1rem;
    justify-content: space-between; /* Adjusts spacing between cards */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5rem;
    gap: 10px; /* Adds space between the label and input */
    border-radius: 8px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
    flex-grow: 1; /* Allows the card to grow and take up available space */
    flex-basis: 0; /* Ensures cards shrink properly when space is limited */
    min-width: 0; /* Prevents overflow issues */
}


.card input {
    padding: 10px; /* Standard padding, not gigantic */
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: right;
}

.summary {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
    margin-top: 1rem;
    width: 100%;
}