/* main container */
#tab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: first baseline;
    margin-top: 1rem;
    gap: 15px;
}

#tabstrip {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}

#tabstrip > button {
    width: 12rem;
}

.active-tab {
    background: #393939;
    border-bottom: 3px solid rgba(0, 122, 255, 0.8);
}

/* contains forms */
#tabcontent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}

.form-submit-button-container {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.form-submit-button-container > button {
    width: 10rem;
}

.form-title {
    font-size: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: auto;
    gap : 5px;
}

.form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.form-row > label {
    flex: 1;
}

.form-row > input {
    align-self: center;
    flex: 1;
}