#home-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    max-height: 30%;
    background: red;
}

#button-row {
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#title {
    justify-self: center;
    align-self: center;
    margin-top: 30%;
    margin-bottom: 0px;
    font-size: 64px;
}